h1 {
	font-family: 'Sarabun', sans-serif;
	font-size: 250%;
    margin-bottom: 10px;
}
p {
    margin: auto;
	padding: 10px;
	display: inline-block;
	font-family: 'Lato', sans-serif;
}
div.col {
	border: 1px solid black;
	border-collapse: collapse;
	border-radius: 3%;
	padding: 5%;
}