<!-- This div only contains the menu bar -->
<div id="bar">
	<!-- Menu bar at the top of the homepage -->
	<ul>
		<li class="menubar">Home</li>
		<li class="menubar">My Favorites</li>
		<li class="menubar">My Pages</li>
		<li class="menubar">Account/Settings</li>
	</ul>
</div>
<!-- This div contains the main body of the page with interests and activities -->
<div id="main">
	<!-- Search Bar -->
	<input type="text" placeholder="Search Pages" style="width: 30%; margin-bottom: 20px; border-radius: 20px; margin-left: 35%;">
	<!-- My Interests and World Activity tabs -->
	<ul>
		<li class="intrstacts">My Interests</li>
		<li class="intrstacts">World Activity</li>
	</ul>
	<!-- This div only contains the pages you are interested in -->
	<div id="pages">
	<!-- Pages that you are interested in -->
		<ul>
			<li class="pp">TuckerT245 posted on the NY Yankee Page</li>
			<li class="pp">DJSen11 posted on the Rap Music Page</li>
			<li class="pp">RobertMo78 posted on the Texans Page</li>
			<li class="pp">Pacecar934 posted on the NY Giants Page</li>
			<li class="pp">ArtieR433 posted on the Diet Coke Page</li>
			<li class="pp">Mart654Tin posted on the NYC Page</li>
		</ul>
	</div>
</div>